* {
    main-bg:            #242933;
    alt-bg:             #2E3440;
    main-fg:            #D8DEE9;
    select-bg:          #60728A;
    select-fg:          @main-fg;
    separatorcolor:     transparent;
    border-color:       #F9CE73;
    border-color-alt:   #832640;
    border-gradient:    linear-gradient(45deg, #F9CE73, #832640);
}

