* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
}

button {
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: #BBC3D4;
}

window#waybar {
  background-color: #242933;
  color: #D8DEE9;
  border: 2px solid #F9CE73;
}

#workspaces {
  margin: 4px 8px;
}

#workspaces button {
  color: #D8DEE9;
}

#workspaces button:hover {
  background: #BBC3D4;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: #D8DEE9;
  color: #242933;
  border: 2px solid #BF616A;
}

#workspaces button.urgent {
    background-color: #D06F79;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
